<!DOCTYPE html>
<html>
<head>
  <title><%= @title%></title>
  <%= stylesheet_link_tag    'blueprint/screen', :media=> 'screen' %>
  <%= stylesheet_link_tag    'blueprint/print', :media=> 'print' %>
  <%= stylesheet_link_tag    'custom', :media=> 'screen' %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class='container'>
		<header>
		<nav>
			<%= link_to "Home", '#' %>
			<%= link_to "Help", '#' %>
			<%= link_to "Sign in", '#' %>
		</nav>
		</header>
		<%= yield %>
		<footer>
			<nav>
				<%= link_to "About", '#' %>
				<%= link_to "Contact", '#' %>
				<%= link_to "News", 'http://news.railstutorial.org' %>
				<%= link_to "Rails tutorial", 'http://railstutorial.org' %>
			</nav>
		</footer>	
	</div>

</body>
</html>
